<?xml version="1.0"?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

  <route id="gdbots_iam_admin_user_search" path="/search">
    <default key="_controller">gdbots_iam.admin.user_controller:searchAction</default>
  </route>

  <route id="gdbots_iam_admin_user_create" path="/create">
    <default key="_controller">gdbots_iam.admin.user_controller:createAction</default>
  </route>

  <route id="gdbots_iam_admin_user_show" path="/{user_id}">
    <default key="_controller">gdbots_iam.admin.user_controller:showAction</default>
    <requirement key="user_id">[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}</requirement>
  </route>

  <route id="gdbots_iam_admin_user_update" path="/{user_id}/update">
    <default key="_controller">gdbots_iam.admin.user_controller:updateAction</default>
    <requirement key="user_id">[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}</requirement>
  </route>

  <route id="gdbots_iam_admin_role_search" path="/search">
    <default key="_controller">gdbots_iam.admin.role_controller:searchAction</default>
  </route>

  <route id="gdbots_iam_admin_role_create" path="/create">
    <default key="_controller">gdbots_iam.admin.role_controller:createAction</default>
  </route>

  <route id="gdbots_iam_admin_role_show" path="/{role_id}">
    <default key="_controller">gdbots_iam.admin.role_controller:showAction</default>
    <requirement key="user_id">[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}</requirement>
  </route>

  <route id="gdbots_iam_admin_role_update" path="/{role_id}/update">
    <default key="_controller">gdbots_iam.admin.role_controller:updateAction</default>
    <requirement key="user_id">[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}</requirement>
  </route>
</routes>
